@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
* {
    font-family: "Geist Mono", serif;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0055FF;
    font-family: "Geist Mono", serif;
    color: white;
    padding: 2rem;

}

.todo-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color:white;
    padding: 2rem;
    border-radius: 20px;
    width: 60%;
}

.taskList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(210,100%,70%);
    border: 2px solid hsl(210,100%,45%);
    border-radius: 10px;
    list-style: none;
    padding: 10px 15px;
    color: white;
    word-break: break-all;
}

.taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
    padding-left: 0;
}

.taskList span {
    display: inline-flex;
    gap: 10px;
}

.cont {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cont input {
    width: 100%;
}

.cont input, .cont button, .todo-body button{
    padding: 10px 15px;
    border: 1px solid #0055FF;
}

.cont button:hover, .todo-body button:hover{
    background-color: #0055FF;
    color: white;
}

.cont button:active, .todo-body button:active{
    background-color: hsl(210,100%,70%);
    border: 1px solid #0055FF;
    color: white;
}

@media (min-width: 320px) and (max-width: 500px) {
    body {
        text-align: center;
        gap: 20px;
    }
    .todo-body {
        padding: 1rem;
        width: 100%;
    }

    .cont input, .cont button, .todo-body button {
        padding: 5px 10px;
    }

    .taskList li{
        font-size: 0.8rem;
        background-color: red;
        gap: 1rem;
    }

    .taskList button {
        font-size: 0.7rem;
    }

    .taskList span {
        text-align: justify;        
    }
}